body {
  margin: 0;
  padding: 0;
}

/*  */
.center {
  display: flex;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;

    color: pink;
  }
}

.grid {
  display: grid;
  /* El aside mide 250px y el main ocupa el resto (1fr) */
  grid-template-columns: 3fr 1fr;
  min-height: 100vh;
}
.header {
  background-color: red;
  align-items: center;
  padding: 10px 20px;
  color: #ffffff;
}

.header .menu li,
h1 {
  color: #000;
}

h1 {
  color: blue;
}
.menu {
  align-items: center;
  list-style: none;
  gap: 20px;
  &:hover {
    color: blueviolet;
  }
}

.menu li:hover {
  color: blueviolet;
}

#ultimo {
  color: blue;
}
/* 
etiqueta: no lleva ningun decorador
.clase: lleva un punto antes del nombre de la clase
#id: llevan un "#" antes del nombre del id (este no deben de repetirlo y traten de no meterse muy seguido con el ID*/
